.watchlist-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Needed to position buttons */
  }
  
  .item {
    display: flex;
    flex-direction: column; /* Stack text and info vertically */
  }
  
  .item p {
    color: green; 
    font-weight: bold; 
  }
  
  .itemInfo {
    margin-top: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .high,.c,.vol,
  .low {
    font-size: 14px;
    color: #666;
    font-weight: bold; 
  }
  .low{
    color:#dc3545;
  }
  .close{
    font-size: 14px;
    
  }
  .high{
    color: green;
  }
  /* Align buttons to the right */
  .actions {
    display: flex;
    gap: 10px;
    position: absolute; /* Keep buttons at a fixed position */
    right: 10px; /* Distance from the right */
    top: 50%; /* Center vertically */
    transform: translateY(-50%);
  }
  
  .actions button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .actions button.sell {
    background-color: #dc3545;
  }
  
  .actions button:hover {
    opacity: 0.9;
  }
  